@model PolyBota.Web.Areas.Tanimlamalar.Models.TanimlamaZeModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@Html.Raw(Model.ZamanEtuduKategori.Id == 0 ? "YENİ KAYIT" : "KAYIT DÜZENLE")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>



    @using (Html.BeginForm("ZeKategoriEkleDuzenle", "TanimlamaZamanEtudu"))
    {
        @Html.HiddenFor(a => a.ZamanEtuduKategori.Id)
        <div class="modal-body">
            <div class="row">

               
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Kategori Adı </b>
                        @Html.TextBoxFor(a => a.ZamanEtuduKategori.KategoriAdi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-12">

                    <button type="submit" class="btn btn-block btn-success">KAYDET</button>

                </div>
            </div>


        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">KAPAT</button>

        </div>
    }



</div>
